<%= form_with(model: products_size, local: true) do |form| %>
  <% if products_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(products_size.errors.count, "error") %> prohibited this products_size from being saved:</h2>

      <ul>
      <% products_size.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :size_id %>
    <%= form.text_field :size_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
