<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Product Name" %>
    <%= form.text_field :name %>
  </div>
  <%= form.fields_for :products_sizes do |field| %>
    <%= field.hidden_field :size_id %>
    <div class="field">
      <%= field.label :is_enable, field.object.size_name %>
      <%= field.check_box :is_enable %>
    </div>
    <div class="field">
      <%= field.label :price %>
      <%= field.text_field :price %>
    </div>
    <hr />
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
